.flex-container{
    display: flex;
}
.vertical-flex{
    flex-direction: column;
}
.horizontal-flex{
    flex-direction: row;
}
.flex-item{
    flex: 1;
    border: 5px solid red;
}
.header-link{
    padding: 20px;
}